html 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%) ) ;
    font-family: 'Kumbh Sans', serif;
    color: hsl(238, 29%, 16%);
}

h1 
{
    font-size: 2.25em;
    margin-bottom: 4rem
}

h2
{
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: normal;
    padding-bottom: 1.5rem;
    margin-top: 1.5rem;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    position: relative;
    cursor: pointer;
}

.container
{
    display: flex;
    align-items: center;
    columns: 2; 
    min-width: 50vw;
    min-height: 50vh;
    padding: 5rem;
    background-color: #fff;
    background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
    background-size: 566px 431px, 1159px 1134px;
    background-repeat: no-repeat;
    background-position-x: -6em, -43em;
    background-position-y: 5rem, -22em;
    border-radius: 2rem;
    position: relative;
}

.box
{
    position: absolute;
    left: -8rem;
    bottom: 12rem;
}

.mobile, .woman
{
    display: none;
}

.list 
{
    position: absolute;
    right: 0;
    margin-right: 8rem;
    align-items: center;
    width: 25rem;
}

.arrows
{  
    position: absolute;
    right: 0;
    margin-left: 1rem;
}

.As 
{
    display: none;
    font-size: .9em;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.attribution 
{ 
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 50px;
    font-size: 11px; 
    text-align: center; 
}

.attribution a 
{ 
    color: hsl(228, 45%, 44%); 
}

h2:hover, 
h2:focus 
{
    color: hsl(14, 88%, 65%);
} 

.flip-arrow 
{
    transform: rotateX(180deg);
}

.bold
{
    font-weight: 700;
}

.remove-border 
{
    border-bottom: none;
    padding-bottom: 0;
}

@media (max-width: 375px) 
{
    h1 
    {
        font-size: 2em;
        text-align: center;
        margin-bottom: 3rem;
    }

    h2 
    {
        font-size: .75em;
        padding-bottom: 1rem;
        margin-top: 1rem;
    }

    .container 
    {
        max-width: 10vw;
        max-height: 10vh;
        padding-top: 7rem;
        padding-bottom: 2rem; 
        background-image: none;
        position: relative;
    }

    .box
    {
        display: none;
    }

    .mobile
    {
        display: block;
        position: absolute;
        top: 0;
        left: 3.5rem;
    }

    .woman 
    {
        display: block;
        position: absolute;
        width: 15rem;
        left: 3.5rem;
        top: -6.75rem;
    }

    .list 
    {
        width: 18rem;
        margin-right: 1.75rem;
    }

    .As 
    {
        font-size: .65em;
    }

    h2:hover, 
    h2:focus 
    {
        color: #fff;
    } 

    .attribution 
{ 
    margin: 19px;
}
}